# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=dev-burguer-db

# MongoDB
MONGO_URI=mongodb://localhost:27017/devburguer

# API
API_URL=http://localhost:3001

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d
